<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      h1:not(:first-child) {
        margin-top: 50px;
      }

      .small {
        font-size: 85%;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body data-spy="scroll" data-target=".sidebar-nav" data-offset="150">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">{{ site.name }}</a>
          <div class="nav-collapse collapse">{% comment %}
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>{% endcomment %}
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <!-- <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav affix">
            <ul class="nav nav-list">
	      {% for section in page.navigation %}
	      <li class="nav-header">{{ section.header }}</li>
	      {% for item in section.items %}
              <li><a href="#{{ item | downcase | replace:' ','_' | remove:'.' | remove:"-" }}">{{ item }}</a></li>
	      {% endfor %}
	      {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span7">
          <div class="row-fluid">
{{ content }}
	  </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/.fluid-container-->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
